<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="net.linnovate.NeuraNest"
        version="0.0.1">

  <name>NeuraNest</name>

  <engines>
    <engine name="cordova" version=">=3.8.0"/>
  </engines>

  <asset src="www/NeuraNest.js" target="js/NeuraNest.js"/>

  <js-module src="www/neuraNest.js" name="NeuraNest">
    <clobbers target="NeuraNest" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="NeuraNest">
        <param name="android-package" value="net.linnovate.NeuraNest.NeuraNest"/>
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <receiver android:name="net.linnovate.NeuraNest.NeuraReceiver" >
        <intent-filter>
            <action android:name="com.neura.android.ACTION_NEURA_EVENT" />
        </intent-filter>
      </receiver>
    </config-file>

    <source-file src="src/android/NeuraNest.java" target-dir="src/net/linnovate/NeuraNest/"/>
    <source-file src="src/android/NeuraReceiver.java" target-dir="src/net/linnovate/NeuraNest/"/>
    <source-file src="src/android/util/Utils.java" target-dir="src/net/linnovate/NeuraNest/util/"/>
    <source-file src="src/android/libs/NeuraAndroidSDK_v1_6.jar" target-dir="libs" />
  </platform>

  <platform name="ios">

    <config-file target="config.xml" parent="/widget">
      <feature name="NeuraNest">
        <param name="ios-package" value="HWPNeuraNest" />
      </feature>
    </config-file>

    <header-file src="src/ios/HWPNeuraNest.h" target-dir="NeuraNestPlugin"/>
    <source-file src="src/ios/HWPNeuraNest.m" target-dir="NeuraNestPlugin"/>
  </platform>

  <platform name="wp7">
    <source-file src="src/wp7/NeuraNest.cs"/>
  </platform>

</plugin>
